In [26]:
import pandas as pd
import altair as alt
import numpy as np
from tqdm import tqdm
import sqlite3

import re
pd.options.display.max_columns = 10
pd.options.display.max_rows = 50
pd.set_option('display.max_colwidth', None)
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

### Load data

In [37]:
with sqlite3.connect("../neuromancer/wintermute.db") as conn:
    df = pd.read_sql_query("SELECT * from obesity_hospitals", conn)
df.year.unique()

array([2014])

In [21]:
df = pd.read_csv("obesity.csv")
df

,Unnamed: 0,region,admissions_total,admissions_count_men,admissions_count_women,adm_per_100_000_all,adm_per_male,adm_per_female,year
0,5,England,292404,99579,192795,550.592332,381.044590,714.743642,2014
1,7,North East,17409,6294,11115,670.494727,495.747473,837.702727,2014
2,8,North East,17409,6294,11115,670.494727,495.747473,837.702727,2014
3,9,County Durham,2240,850,1390,436.652281,338.418907,530.886925,2014
4,10,Darlington,283,99,184,268.033035,192.382433,339.960092,2014
...,...,...,...,...,...,...,...,...,...
166,181,Somerset,3565,905,2660,670.640975,348.965443,977.068281,2014
167,182,South Gloucestershire,1396,530,866,529.958203,405.511901,652.511340,2014
168,183,Swindon,834,333,501,388.082065,309.586010,466.741196,2014
169,184,Torbay,1243,478,765,947.459087,756.257317,1125.215115,2014
170,185,Wiltshire,2730,911,1819,575.562016,388.875846,757.746174,2014

In [13]:
df.groupby(["Major region", "Year","variable"])['quantity'].sum()

Major region   Year  variable
East Midlands  2014  Admissions count: men                        5974.000000
                     Admissions count: women                     13094.000000
                     Admissions per 100,000 population            4022.244957
                     Admissions per 100,000 population: men       2387.910550
                     Admissions per 100,000 population: women     5616.525668
                                                                     ...
West Sussex    2019  Admissions count: women                       285.000000
                     Admissions per 100,000 population             313.000000
                     Admissions per 100,000 population: men        272.000000
                     Admissions per 100,000 population: women      353.000000
                     Total admissions                              490.000000
Name: quantity, Length: 318, dtype: float64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5490 entries, 0 to 5489
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    5490 non-null   int64
 1   Region        5490 non-null   object
 2   Major region  5490 non-null   object
 3   Year          5490 non-null   int64
 4   variable      5490 non-null   object
 5   quantity      5490 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 257.5+ KB

In [7]:
df.shape

(5490, 6)

Empty DataFrame
Columns: [Unnamed: 0, Region, Major region, Year, variable, quantity]
Index: []